@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'Roboto', sans-serif;
   list-style: none;
}

:root {
   --bg-color: #122a45;
   --second-bg-color: #1a3655;
   --text-color: #95b9df;
   --main-color: #346090;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background-color: var(--bg-color);
   color: var(--text-color);
}

.container {
   /* border-style: solid;
    border-color: blue; */
   display: flex;
   margin: 4vw;
}

.section {
   /* border-style: solid;
    border-color: red; */
   background-color: var(--second-bg-color);
   flex: content;
   flex-direction: row;
   margin: 0.3rem;
}

.aside {
   width: 7vw;
}

.hero {
   /* border-style: solid;
    border-color: yellow; */
   display: flex;
   flex-direction: column;
}

.column {
   border-style: solid;
    border-color: var(--bg-color);
   display: flex;
   flex-direction: column;
   /* margin-bottom: 1rem; */
}

img {
   display: flex;
}

.event {
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
}

.live-score {
   display: flex;
   flex-direction: row;
   width: 4vh;
   justify-content: space-between;
   flex-grow: 1;
   margin: 1rem;
}

.score {
   color: #00D323;
}

.odd-boxes {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: center;

   /* width: 30wv; */
   /* flex-grow: 2; */
}

.box {
   background-color: #346090;
   width: 50px;
   height: 50px;
   margin: 0.5rem;
   /* border-style: solid;
   border-color: #346090; */
   display: flex;
   justify-content: center;
   align-items: center;
}

/* .first3,
.second3,
.third3 {
} */

.list {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.footer {
   height: 40vh;
}
